<%
total_count = Function.find_by_sql("select count(id) from functions where library = 'Clojure Core'")[0]["count(id)"].to_i
missing_examples_count = Function.find_by_sql("select distinct count(id) from functions where (id) not in (select function_id from examples) and library = 'Clojure Core'")[0]["count(id)"].to_i
functions_with_examples_count = total_count - missing_examples_count
%>
<div class="core_progress">
	<h2>Core Progress
	<%= missing_examples_count %>/<%= total_count %>
	</h2>
</div>