
<div class="lib_nav">
	<h2><%= link_to lib.name, :controller => 'main', :action => 'lib', :lib => lib.name %></h2>
	<% if lib.name == "Clojure Core"%>
	<ul class="level_0">
		<li>
			<a href="/quickref/Clojure%20Core">Quick Ref</a>
			<ul>
				<li><a href="/quickref/shortdesc/Clojure%20Core">Short Descs</a></li>
				<li><a href="/quickref/varsonly/Clojure%20Core">Vars Only</a></li>
			</ul>
		</li>
		<li><a href="/Clojure%20Core">Alphabetical</a></li>
	</ul>
	<% end %>
</div>