<% content_for :title, " - Community-Powered Clojure Documentation and Examples" %>
<div class="container_16">
	<div class="grid_15 prefix_1 suffix_1">
		<div class="overview">
			<h2 style="text-align: left">ClojureDocs is a community-powered documentation and examples repository for the <a href="http://clojure.org">Clojure programming language</a>.</h2>
		</div>
	</div>
	<div class="grid_16">
		<div class="grid_7 prefix_1 alpha">
			<div class="core_libraries">
				<div class="library">
					<h3><a href="/clojure_core">Clojure Core</a></h3>
					<h4>
						<a href="/quickref/Clojure%20Core">Quick Reference</a>
					</h4>
					<a href="http://clojure.org">http://clojure.org</a><br />
					<p>Clojure is a dynamic programming language that targets the Java Virtual Machine (and the CLR).</p>
				</div>
			</div>
		</div>
		<div class="grid_7 suffix_1 omega">
			<div class="core_libraries">
				<div class="library">
					<h3><a href="/clojure_contrib">Clojure Contrib</a></h3>
					<a href="http://clojure.github.com/clojure-contrib/">http://clojure.github.com/clojure-contrib</a>
					<p>The user contributions library, clojure.contrib, is a collection of namespaces each of which implements features that we believe may be useful to a large part of the clojure community.</p>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<br />
	<br />
</div>
<div class="other_content">
	<div class="container_16">

		<br />
		<br />
		<div class="grid_9">
			<div class="welcome_message">
				<h2>Getting started with ClojureDocs</h2>
				<p>Finding the right tool for the job can be tough, so we&apos;ve outlined a few ways to go about your search below.</p>
				<ul>
					<li class="wm_quickref">Take a look at the <a href="/quickref/Clojure%20Core">Clojure Core quickref</a>, which displays Clojure vars grouped by category.</li>
					<li class="wm_alpha">Browse an alphabetical list of vars defined in <a href="/clojure_core">Clojure Core</a> or <a href="/clojure_contrib">Contrib</a>.</li>
					<li class="wm_search"><a href="/search?q=reduce">Search</a> for something.</li>
				</ul>
			</div>

			<div class="contribute">
				<h2>Contribute to ClojureDocs</h2>
				<p>We need your help to make ClojureDocs a great community resource.  Here are a couple of ways you can contribute.</p>
				<ul>
					<li class="feedback">
						<h3>Give Feedback</h3>
						<p>Our <a href="http://clojuredocs.uservoice.com">UserVoice Forum</a> allows you to give feedback publicly ('Go to our Feedback Forum') or privately ('Need help? Contact ClojureDocs').</p>
						<p>We also have a <a href="http://groups.google.com/group/clojuredocsorg">Google Group</a> for announcements and discussions.</p>
					</li>
					<li class="add_example">
						<h3>Add an Example</h3>
						<p>Sharing your knowledge with fellow Clojurists is easy:</p>
						<p>First, take a look at the <a href="/examples_style_guide">examples style guide</a>, and then add an example for your favorite var (or pick one from <a href="/management/clojure_core">the list</a>).</p>
						<p>In addition to examples, you also have the ability to add &apos;see also&apos; references between vars.</p>
					</li>
				</ul>
			</div>
			<div class="api_integration">
			<h2>API Integration</h2>
			<p>ClojureDocs provides a simple <a href="http://api.clojuredocs.org">API</a> for you to use to develop applications and tools that integrate with the ClojureDocs backend:</p>
			<ul>
			  <li>Look up <a href="http://api.clojuredocs.org/examples/clojure.core/map">examples</a>,
			  <a href="http://api.clojuredocs.org/comments/clojure.contrib.json/read-json">comments</a>, 
			  and
			  <a href="http://api.clojuredocs.org/see-also/clojure.test/are">see-alsos</a> by function name.</li>
			  <li>Search for functions by <a href="http://api.clojuredocs.org/search/clojure.core/map">name</a> (namespace optional)</li>
			  <li>See a <a href="http://api.clojuredocs.org/versions/clojure.core/map">list of the versions</a> that ClojureDocs knows about.</li> 
			</ul>
			</div>
			<div class="beta_status">
			<h2>We&apos;re in Beta</h2>
			<p>We&apos;ll make every effort to keep these services up and bug-free, but no promises. If you&apos;d like to take a look under the hood, ClojureDocs is split up across three repos: The <a href="https://github.com/zkim/clojuredocs">site</a>, the <a href="http://github.com/zkim/clojuredocs-analyzer">analyzer</a>, and the <a href="http://github.com/dakrone/cd-wsapi">api.</a> </p>
			<p>If you&apos;ve got an itch to scratch then <a href="http://github.com/zkim/clojuredocs/issues">open up an issue</a>, or fork away and send us a pull request.</p>
			</div>
		</div>
		<div class="grid_6 prefix_1">
			<div class="top_contributors">
				<h2>Top Contributors</h2>
				<ul class="top_contributors">
					<% @top_contributors.each do |tc| %>
					<li>
						<%= link_to image_tag(grav_url_for(tc[:email]), :alt => tc[:author]), :controller => 'user', :action => 'profile', :login => tc[:author] %>
					</li>
					<% end %>
				</ul>

				<div class="clear"></div>
				<span class="find_functions_without_examples"><a href="/management/clojure_core">Find vars that need examples.</a></span>
			</div>
			<%= image_tag "curly_bracket.png", :class => "curly", :width => 355, :height => 102 %>
			<div class="recently_updated_panel">
				<h2>Recently Updated <a href="/feed/recent_updates" alt="All recent updates RSS feed"><%= image_tag 'browser-rss.png', :width => 20, :height => 20 %></a></h2>
				<%= render :partial => '/recently_updated', :locals => {:recently_updated => @recently_updated}%>
			</div>
		</div>

		<div class="grid_8">



		</div>

		<div class="clear"></div>
	</div>
</div>
