<div class="container_16">
	<div class="grid_16">
		<div class="libraries">
		<% @libs.each do |l| %>
		<h2>
			<%= link_to l.name, :controller => 'main', :action => 'lib', :lib => l.url_friendly_name %>
		</h2>
		<div class="lib_link">
			<a href="<%= l.site_url %>"><%= l.site_url %></a>
			<p class="description"><%= l.description %></a>
			</div>
			<% end %>
		</div>
	</div>
</div>