<div class="edit_comment">
<% form_for :comment, @comment do |f| %>
Comment <span class="instructions">(markdown allowed, code in &lt;pre /&gt;)</span><br />
<%= f.text_area :body, :class=> 'textarea' %>
<div style="text-align: right">
	<a class="cancel" href="" style="float: left">Cancel</a>
	<!-- <input class="preview_comment" type="button" value="Preview" /> -->
	<%= f.submit 'Update Comment'%>
	<div class="clear"></div>
</div>
<input type="hidden" name="update_comment" value="true" />
<input type="hidden" name="comment_id" value="-1" />
<fieldset class="live_preview">
	<legend>Live Preview</legend>
	<div class="preview"></div>
</fieldset>
<% end %>