body {
	/*background-color: #f9f9f9;*/
}

h1, h2, h3, h4, h5, form, fieldset, ul {
	padding: 0px;
	margin: 0px;
}

h1, h2 {
	font-family: 'Century Gothic', Arial, sans-serif;
}

h2 {
	font-weight: normal;
	font-size: 16pt;
}

h3, h4 {
	font-weight: 300;
}

h3 {
	font-size: 14pt;
}

h4 {
	font-size: 12pt;
}

em {
	font-weight: normal;
	font-style: normal;
}

.hidden {
	display: none;
}

.fixed {
  position: fixed;
  top: 0px;
}

.container_16 {
	min-width: 960px;
}

a {
	color: blue;
	
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

a:visited {
	color: blue;
}

p {
	margin: 0px;
}

ul li {
	list-style-type: none;
	margin: 0px;
}

/*** Footer ***/
.footer {
	margin-top: 50px;
	text-align: center;
	color: #777;
}

.footer a {
	color: #8888ff;
}

.ns {
	/*color: #33bbff;*/
	color: #999;
	margin: 0px;
}

.ns a {
	color: #999;
}

.ns a:visited {
	color #999;
}


/*** Recently Updated Content ***/
.recent_comment, .recent_example, .recent_see_also {
	background-repeat: no-repeat;
	background-position: -2px -3px;
	padding-left: 22px;
	margin-bottom: 8px;
	font-size: 10pt;
}

.recent_comment .timestamp, .recent_example .timestamp, .recent_see_also .timestamp {
	font-size: 8pt;
	color: #888;
}

.recent_comment {
	background-image: url('/images/comment.png');
}

.recent_example {
	background-image: url('/images/example.png');
}

.recent_see_also {
	background-image: url('/images/file-go.png');
	background-position: -2px -1px;
}

.copyright_license, .examples_license {
	color: #888;
	font-size: 8pt;
}

.copyright_license {
	text-align: right;
}

.copyright_license a {
	color: #888;
}

.examples_license a {
	color: #888;
}



textarea {
	margin-bottom: 5px;
}



