.letter_group {
	width: 300px;
	float: left;
}

/*** General ***/



.header {
	padding-top: 3px;
	padding-bottom: 3px;
	top: 0px;
	left: 0px;
	z-index: 5000;
	height: 60px;
	width: 100%;
	margin-bottom: 20px;
	border-bottom: solid #ccc 1px;
	background-color: #f8f8f8;
}

.header_content {
	padding-bottom: 5px;

}

.header a {
	color: black;
}

.header h1 a {
}

.header h1 a:hover {
	text-decoration: none;
}

.header .cd_logo {
	margin-top: 3px;
	margin-left: 6px;
}

.user_area .main_nav a {
    color: #888
}

.user_area .main_nav a:visited {
    color: #888;
}

.user_area {
	margin: 0px;
	padding: 0px;
	text-align: right;
	color: #666666;
}

.user_area_content {
	border-left: solid #ccc 1px;
	border-right: solid #ccc 1px;
	border-bottom: solid #ccc 1px;
	padding: 5px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;		
}

.user_area_gravatar {
	margin-bottom: -3px;
}

.user_area a {
	color: blue;
}

.user_area a:visited {
	color: blue;
}

#main_search {
	padding-left: 3px;
}

.other_content {
	background-color: #f8f8f8;
	border-top: solid #ccc 1px;
	border-bottom: solid #ccc 1px;
}

.overview {
	margin-bottom: 20px;
}

.example .content {
}

.example .permalink {
}

#login_content .error, #signup_content .error {
	background-color: yellow;
}

#login_content, #signup_content {
	font-weight: 300;
}

#login_content label, #signup_content label {
	margin: 0px;
	padding: 0px;
}

#login_content input, #signup_content input {
	width: 97%;
	border: solid #ccc 1px;
	margin-bottom: 8px;
}

#login_content .submit, #signup_content .submit {
	text-align: right;
}

#login_content .submit input, #signup_content .submit input {
	width: auto;
	border: solid #eee 1px;
}

.search {
	text-align: right;
	margin-top: 8px;
}

.search .text_field {
	width: 300px;
}

.ui-autocomplete {
	background-color: #fafafa;
	border: solid #ddd 4px;
	width: 450px;
	overflow: hidden;
}

#ui-active-menuitem {
	display: block;
	background-color: #ffffcc;
}

.ui-menu-item a {
	display: block;
	padding-left: 3px;
	border-bottom: solid #ddd 1px;
	padding-bottom: 5px;
}

.ui-menu-item a:hover {
	text-decoration: none;
	
}

.ac_search_result .name {
	font-size: 13pt;
}

.ac_search_result .ns {
	float: right;
	margin-right: 3px;
}

.ac_search_result .shortdoc {
	color: #666;
}

.see_also_result {
	font-size: 12pt;
}

.ui-menu-item .examples_count {
}

.ui-autocomplete-loading {
	background-image: url('/images/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: right 1px;
}

.search input {
	border: solid #bbb 1px;
	font-size: 12pt;		
}

.search .submit_image {
	margin-bottom: -4px;
	border: none;
	display: none;
}

.search_results .match {
	font-weight: 900;
}

.search_results .pagination {
	float: right;
	font-size: 12pt;
}

.search_result {
	margin-bottom: 20px;
	padding-left: 5px;
}

.search_result h4 {
	font-size: 16pt;
	line-height: 0.7em;
	font-weight: normal;
}

.search_result .ns a {
	font-size: 12pt;
	color: #555;
}

.search_results .extra_info {
	color: #777;
}

.search_results h3 {
	border-bottom: solid #ccc 1px;
}

.about_search {
	margin-left: 10px;
}

.about_search h4 {
	font-weight: normal;
}

.about_search h5 {
	font-weight: 300;
	font-size: 14px;
	margin-left: 8px;
}

.about_search p {
	margin-bottom: 10px;
}

.about_search .examples {
	margin-left: 8px;
}

.search_result .doc {
	border: 0px solid #eee;
	background-color: white;
	background-image: none;
	padding: 5px;
	margin: 0px;
	font-size: 11pt;
}

.search_results .code {
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
	background-color: #eeeeff;
	padding: 1px;
}


.highlight {
	background-color: #ffffaa;
}

h2.section_header {
	font-weight: normal;
	font-size: 16pt;
	border-bottom: solid #ccc 1px;
	margin-bottom: 3px;
}

.function_links {
	width: 60%;
	float: left;
}

.short_link {
	width: 19%;
	text-align: right;
	float: right;
}

.short_link a {
	font-weight: 300;
}

.function_header {
	position: relative;
}

.function_header h1 {
	display: inline;
}

.function_header h2 {
	font-size: 12pt;
	color: #777;
	position: absolute;
	top: 0px;
	right: 0px;
}

.function_header .ns a {
	color: #777;
	font-size: 14pt;
}

.source {

}

.usage {
	font-size: 15pt;
}

.usage h2 {
	font-size: 10pt;
	color: #aaa;
}

h1 {
	font-size: 20pt;
}

.doc {
	font-size: 10pt;
}

.doc .content {
	
}

span.added {
}

span.file a {
	color: #aaa;
}

span.file {
	color: #aaa;
}

.usage, .doc, .source, .examples {
	margin-bottom: 10px;
}

.examples, .see_alsos, .comments, .source {
	background-color: #fff;
	border: solid #eee 1px;
	padding: 10px;
	margin-bottom: 10px;
}

.see_alsos h3 {
	margin-bottom: 5px;
}

.warning {
	background-color: #ffffaa;
	text-align: center;
	padding: 10px;
}

#expand_source {
}

#expand_source :hover {
	text-decoration: none;
}

#collapse_source {
	display: none;
}

#expand_source, #collapse_source {
	border: solid #ccc 1px;
	padding: 1px;
}

.source_content {
	display: none;
}

.examples .header {
	font-size: 20pt;
}

.example {
	/*background-color: #EEFEFE;
		border: dashed #00efef 1px;*/
	margin-bottom: 15px;
}

.example .preview {
	padding-bottom: 3px;
}

.editing {
	background-color: #ffffdd;
}

.editing .content {
	margin-left: 5px;
	margin-right: 5px;
}

.editing .controls {
	background-color: #fff;
}


hr {
	border: solid #ccc 2px;
}

.doc .content {
	background: #EAF2F5 url(/images/bg_gradient.gif) repeat-x 0px 100%;
	border: 1px solid #BEDCE7;
	padding: 10px;
	font-size: 10pt;
	margin-bottom: 0px;
	font-weight: 500;
	font-family: monospace;
}

textarea {
	width: 99%;
	height: 250px;
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
	font-size: 10pt;
}

#new_example, #new_comment {
	padding: 10px;
	display: none;
}

#new_comment {
	background-color: #f3f3f3;
}

#new_example {
	background-color: #aaffff;
}

#new_example .preview {
}

.instructions {
	text-align: right;
	font-size: 8pt;
}



.comment {
	padding: 4px;
	margin: 4px;
	background-color: #f4f4f4;
	border: solid #ccc 1px;
}

.example img, .comment img {
	padding: 5px;
	padding-bottom: 0px;
}

.author {
	font-size: 13pt;
	font-weight: 300;
	width: 50%;
	float: left;
}

.comment_header {
	background: white;
	border: solid #eee 1px;
}

.author img {
	margin-bottom: -8px;
}

.used_in {
	margin-bottom: 10px;
}

.controls {
	color: #bbb;
	margin-right: 6px;
	font-weight: 300;
}


.example .controls, .comment .controls {
	text-align: right;
}

.syntaxhighlighter {
	background-color: white;
	margin: 0px !important;
	padding: 0px;
}

.function_links {
	font-size: 11pt;
	font-weight: 300;

}

h3 a.internal_nav {
	color: black;
}

h3 .top {
	font-size: 9pt;
	float: right;
}

.header {
}

.header .lib_name {
	color: #ddd;
}

.functions_list h5 {
	margin: 0px;
	padding: 0px;
	float: left;
	margin-right: 0px;
	margin-top: -4px;
	width: 30px;
}

.functions {
	margin-bottom: 10px;
}

.lib_header {
	margin-bottom: 20px;
}

.preview_window {
	display: none;
}

fieldset {
}

.live_preview legend {
	padding-left: 3px;
	padding-right: 3px;
	background-color: #ffffcc;
	margin-bottom: 3px;
}

.library {
}

.library h3 {
	font-weight: bold;
}

.used_in_expander {
	display: none;
}

.core_libraries {
	height: 108px;
	font-size: 10pt;
	background-color: #fafafa;
	padding: 14px;
	border: solid #ddd 1px;
	-webkit-box-shadow: inset 0px 0px 7px #ccc; 
	-moz-box-shadow: inset 0px 0px 7px #ccc; 
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;	
}

.core_libraries h4 {
	font-family: arial; 
	font-size: 12pt
}

.recently_updated_panel, div.top_contributors {
	border: solid #ddd 1px;
	padding: 20px;
	padding-left: 35px;
	background-color: #fafafa;
}

.recently_updated_panel h2 {
	margin-bottom: 10px;
}

.curly {
	margin-left: 40px;
}


.welcome_message, .contribute, .api_integration, .beta_status {
	margin-bottom: 40px;
}

.welcome_message h2, .contribute h2, .third_party_libs h2, .beta_status h2 {
/*	background-color: #62A632;*/
/*	background-color: #00D8FF;*/
/*	color: #62A632;*/
	margin-bottom: 6px;
}

.welcome_message ul, .contribute ul, .api_integration ul, .beta_status ul {
	font-size: 12pt;
	margin-bottom: 20px;
}

.api_integration ul li, .beta_status ul li {
	list-style-type: disc;
	margin-bottom: 10px;
	margin-left: 30px;
}

.welcome_message p, .contribute p, .api_integration p, .beta_status p {
	font-size: 11pt;
	margin-bottom: 10px;
}

.welcome_message ul li, .contribute ul li {
	padding-left: 30px;
	margin-bottom: 10px;
}

.wm_quickref, .wm_alpha, .wm_search, .contribute .feedback, .contribute .add_example {
	background-repeat: no-repeat;
	background-position: 4px 4px;
}

.wm_quickref {
	background-image: url('/images/map_pin_stroke_16x16.png');
	background-position: 6px 4px;
}

.wm_alpha {
	background-image: url('/images/book_alt_16x16.png');
}

.wm_search {
	background-image: url('/images/magnifying_glass_alt_16x16.png');
}

.contribute .feedback {
	background-image: url('/images/chat_alt_stroke_16x16.png');
	background-position: 4px 7px;
}

.contribute .add_example {
	background-image: url('/images/read_more_16x16.png');
	background-position: 5px 7px;
}

.contribute ul li h3 {
	font-weight: normal;
}

p.callout {
	margin-bottom: 10px;
	background-color: #ffffee;
	padding: 10px;
}

.formError {
	display: inline;
	color: red;
}

.fieldWithErrors {
	display: inline;
}

div.choose_provider {

}

a.provider {
	font-size: 16pt;
	margin-left: 5px;
	margin-right: 5px;
}

div.why_openid, div.need_openid, div.why_account {
	background-color: #f6f6f6;
	padding: 10px;
	margin: 5px;
	margin-bottom: 20px;
}

.migrate_error {
	background-color: #ffffaa;
	padding: 10px;
	width: 370px;
}

h2 img {
	margin-bottom: -2px;
}


span.version {
	font-size: 8pt;
	padding-left: 2px;
	color: #999;
}

.top_contributors li {
	float: left;
}

.top_contributors li img {
	padding: 1px;
	margin: 2px;
	border: solid #ccc 1px;
	width: 40px;
	height: 40px;
}

.lib_nav {
	border-bottom: solid #ccc 1px;
	padding: 0px;
	margin-bottom: 10px;
}

.lib_nav ul {
	margin-bottom: 0px;
}

.lib_nav li {
	margin-left: 10px;
}

.lib_nav ul.level_0 {
	margin-bottom: 5px;
}

.namespaces .ns a {
	color: blue;
}

.namespaces .current_ns {
	font-weight: 900;
	font-size: 12pt;
	color: blue;
}

.namespaces ul {
	margin-bottom: 0px;
}

.namespaces li {
	margin-left: 10px;
}

.quick_ref h2, .quick_ref h3, .quick_ref h4, .quick_ref h5 {
	font-weight: normal;
}

.quick_ref .toc {
	margin-left: 8px;
}

.quick_ref .toc h2 {
	font-size: 12pt;
}

.quick_ref .toc h3 {
	font-size: 10pt;
	font-weight: normal;
}

.quick_ref .toc li {
	line-height: 1.2em;
	font-size: 9pt;
	margin-left: 10px;
}

.quick_ref .toc .sphere {
	margin-bottom: 3px;
	padding: 0px;
}

.quick_ref .toc ul {
	margin-bottom: 3px;
}

.quick_ref h4 {
	font-size: 13pt;
}

.quick_ref .sphere {
	margin-bottom: 20px;
}

.quick_ref .sphere_header {
	border-bottom: solid orange 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 8px;
}

.quick_ref .category {
	margin-left: 15px;
	margin-bottom: 10px;
}

.quick_ref .group {
	margin-left: 15px;
}

.quick_ref .group_vars_only ul {
	display: inline;
}

.quick_ref .group_vars_only li {
	display: inline;
}

.quick_ref .signpost {
	margin-top: 5px;
	float: right;
	font-size: 9pt;
	color: #999;
}

.quick_ref h4, .quick_ref h5 {
	float: left;
}

.quick_ref .category_header {
	border-bottom: solid #ddd 2px;
	padding-left: 4px;
	padding-right: 4px;
}

.quick_ref tr.hover {
	background-color: #f8f8f8;
}

.quick_ref td.var, .quick_ref .group_name {
	width: 130px;
	text-align: right;
	padding-right: 10px;
}

.quick_ref table {
	margin: 0px;
}

.quick_ref td {
	padding-right: 5px;
}

.quick_ref .shortdesc {
	width: 520px;
}

.quick_ref .examples_count {
	text-align: right;
	color: #bbb;
}

.find_functions_without_examples a {
	font-size: 8pt;
}

/*** Profile ***/

.profile .profile_image {
	padding: 3px;
	border: solid #ccc 1px;
	width: 150px;
	height: 150px;
}

.profile .stats {
	font-size: 12pt;
	font-weight: 300;
}
.profile .stats td {
	padding-left: 4px;
	padding-right: 4px;
}

.profile .stats .key {
	text-align: right;
}

.profile form label {
	float: left;
	width: 30%;
	text-align: right;
	padding-right: 10px;
	margin-top: 2px;
}

.profile form input, .profile form .formError {
	width: 59%;
	margin-bottom: 5px;
}
.profile form .formError {
	margin-bottom -2px;
}

.profile form br {
	clear: left;
}

.profile form .submit {
	margin-left: 33%;
	width: auto;
	margin-bottom: 5px;
}


#new_see_also #name {
	width: 99%;
}

.see_alsos ul {
}

.see_alsos ul li {
	margin-bottom: 4px;
	border: solid #eee 1px;
	padding: 5px;
	background-color: #fafafa;
}

.see_alsos ul a {
	font-size: 12pt;
}

.see_also_item .controls, #new_example .controls {
	float: right;
}

#new_example, .edit_example {
	position: relative;
}

#new_example .ajax_loader, .edit_example .ajax_loader {
	position: absolute;
	top: 0px;
	right: 0px;
	display: none;
}

#new_example {
	border: solid #eee 1px;
}

#new_example fieldset {
}

.edit_example .ajax_loader {
	top: -11px;
	right: -5px;
}

#var_name_search {
	float: right;
	width: 200px;
}

.vote_count {
	font-size: 12pt;
	color: #ccc;
}

.below_vote_threshold {
	color: #ddd;
}

.news .highlight {
	background-color: #ffffee;
	padding: 10px;
}

.news p {
	margin-bottom: 10px;
}

.examples_style_guide h1 {
	border-bottom: solid #ccc 1px;
	margin-bottom: 10px;
}

.examples_style_guide h2 {
	font-weight: bold;
	padding-top: 30px;
}

.examples_style_guide {
	font-size: 13pt;
}

.examples_style_guide p {
	margin-bottom: 10px;
}

.examples_style_guide ul {
	margin-bottom: 20px;
}

.examples_style_guide li {
	margin-left: 20px;
	list-style-type: circle;
}

.examples_style_guide pre {
	border: solid #ddd 1px;
	padding: 10px;
	color: #444;
	background-color: #f8f8f8;
}

.examples_style_guide p code {
	/*background-color: #eee;
	border: solid #ddd 1px;*/
	color: #444;
	padding-left: 3px;
	padding-right: 3px;
	font-weight: bold;
	
}

.versions_nav {
	font-size: 14pt;
	float: right;
	border: solid #ccc 1px;
	padding-left: 3px;
	padding-right: 1px;
}

.versions_nav:hover {
	background-color: #eee;
	cursor: pointer;
}

.versions_nav span {
	padding-right: 3px;
}

.versions_nav span img {
	margin-bottom: -1px;
	border-left: solid #ccc 1px;
	padding-left: 3px;
}


.versions_nav ul {
	position: absolute;
	right: 0px;
	top: 30px;
	display: none;
	border: solid #eee 1px;
	background-color: white;
	z-index: 1;
}

.versions_nav ul a {
	color: black;
	display: block;
	padding: 5px;
	background-color: #ffaaaa;
}

.versions_nav ul a:hover {
	text-decoration: none;
	background-color: #ff0000;
	color: white;
}

.versions_nav .selected {
	color: black;
}

.versions_nav ul a.stable {
	background-color: #88ff88;
}

.versions_nav ul a.stable:hover {
	background-color: #00aa00;
}


.version_warning {
	text-align: center;
	padding: 10px;
	background-color: #ff0000;
	border: solid #ccc 1px;
	margin-bottom: 5px;
	color: white;
}


.toc_controls {
    font-size: 8pt;
    margin-top: 0px;
}

.toc_controls input {
    font-size: 8pt;
}