.page_header {
	margin-bottom: 10px;
}

.page_header .content {
	border-bottom: solid #555 3px;
}

.page_header .content h1 {
	float: left;
	width: 500px;
}

.nav {
	text-align: right;
}

.nav li {
	float: right;
	margin-right: 10px;
}

.missing_examples .content h5 {
	border-bottom: solid #ccc 2px;
	margin-bottom: 3px;
}

.missing_examples .toc {
	margin-top: 6px;
}

form fieldset legend {
	background-color: #efefef;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

form fieldset {
	background-color: #efefef;
	padding: 10px;
}

span.row {
	padding-left: 20px;
}

div.submit {
	padding-top: 5px;
	text-align: right;
	padding-right: 60px;
}

.toggle_search {
	font-size: 7pt;
	text-align: center;
	background-color: #efefef;
}

.toggle_search:hover {
	background-color: #ddd;
}


.result_link {
	padding: 3px;
}

.selected {
	background-color: #eee;
}




