@import "highlighting.less";

// @mixin blue-bg($alpha: 1) { background-color: rgba(53,151,202,$alpha); }
// @mixin green-bg($alpha: 1) { background-color: rgba(57,202,116,$alpha); }
// @mixin yellow-bg($alpha: 1) { background-color: rgba(236,192,47,$alpha); }
// @mixin red-bg($alpha: 1) { background-color: rgba(229,77,66,$alpha); }

// @mixin flex($val) {
//   -webkit-box-flex: $val;
//   -webkit-flex: $val;
//   -moz-box-flex: $val;
//   -ms-flex: $val;
// }

html, body {
  -webkit-font-smothing: antialiased;
  height: 100%;
  //font-family: 'Open Sans', sans-serif;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #333;
}

body {
  font-size: 16px;
  line-height: 1.5em;
}

img {
  max-width: 100%;
}

h1 {
  margin-top: 0;
  font-size: 28px;
  line-height: 1.3em;
  font-weight: 400;
}

@media (max-width: 767px) {
  h1 {
    font-size: 20px;
  }
}


h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 0.5em;
  //font-family: 'Open Sans', sans-serif;
}

h4 {
  font-weight: 400;
}

p {
  font-size: 16px;
  margin-bottom: 1.4em;
}

li {
  margin-bottom: 0.5em;
  list-style-type: none;
}

pre {
  border-radius: 0px;
  border: none;
}

ul {
  padding: 0;
}

section {
  margin-bottom: 2em;
}

html, body {
  height: 100%;
}

.sticky-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px;
}

footer, .sticky-push {
  height: 200px;
}

footer {
  text-align: center;
  font-size: 12px;
  padding-top: 130px;

  .divider {
    font-size: 16px;
  }

  .ctas {
    margin-left: 52px;
    line-height: 30px;

    iframe {
      margin-bottom: -6px;
      margin-left: 10px;
    }
  }
}

.avatar {
  display: inline-block;
  border-radius: 3px;
  width: 48px;
  height: 48px;
}

header.navbar {
  border-radius: 0;
  margin-bottom: 40px;

  a {
  }

  h1 {
  }

  i {
    margin-right: 5px;
  }

  @media (max-width: 767px) {
    .navbar-brand {
      float: none;
      display: inline-block;
      padding-left: 0;
    }
  }

  .user-area {
    padding: 13px 15px;
    font-size: 14px;
    color: #999;

    a {
      display: inline;
      padding: 0;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .avatar {
    width: 22px;
    height: 22px;
    margin-right: 5px;
  }

  .navbar-nav {
    li {
      margin-bottom: 0;
      font-size: 14px;
    }
  }

  .quick-search-widget form {
    margin-right: 10px;
  }
}

.xkcd {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  margin-bottom: 30px;
}

.see-also {
  margin-bottom: 20px;

  a {
    color: #999;

    .ns {
    }

    .name {
      color: #428bca;

      &:hover {
        color: #2a6496;
      }
    }
  }

  p {
    color: #555;
    margin-bottom: 0px;
  }

  .meta {
    font-size: 10px;
    color: #ccc;
    text-transform: uppercase;

    a {
      color: #ccc;
    }
  }
}

.null-state {
  background-color: #fafafa;
  text-align: center;
  padding: 20px;
  color: #888;

  code {
    color: #888;
  }

  a {
    color: rgba(66, 139, 202, 0.7);
  }
}

form.search {
  input[name='query'] {
    border-radius: 0;
    font-size: 14px;
    padding: 10px;
    min-width: 200px;

    &.loading {
      background-image: url("/img/loading.gif");
      background-repeat: no-repeat;
      background-position: right 8px center;
    }
  }
}


.intro-page {
  form.search {
    margin-bottom: 1em;

    input[name='query'] {
      font-size: 20px;
      padding: 20px 10px;
      border-radius: 0;
    }
  }

  .code-example {
    font-size: 14px;
    padding: 20px;
    border: solid transparent 1px;
    background-color: #fafafa;
  }

  h4 {
    font-weight: 300;
  }

  .row {
    margin-bottom: 0px;
  }

  .top-contribs .avatar {
    width: 3.63%;
    margin-right: 0.53%;
    margin-bottom: 0.53%;
    height: auto;

    @media (max-width: 767px) {
      width: 7.80%;
      height: auto;
    }
  }
}

.ac-result-link:hover {
  text-decoration: none;
  width: 100%;
}

.ac-result {
  td {
    padding: 10px;
  }

  .docstring {
    color: #444;
  }

  &:hover {
    background-color: rgba(0,0,0,0.05);

    a {
      text-decoration: none;
    }
  }
}

ul.ac-results {
  margin-left: 0px;
  margin-bottom: 0px;

  li {
    margin-left: 0px;
    list-style-type: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 15px;

    &.highlighted {
      background-color: #f8f8f8;
    }

    &:hover {
      background-color: #f0f0f0;
    }

    h4 {
    }

    p {
      margin-bottom: 0;
//      margin-left: 28px;
    }

    i {
      margin-left: 0;
      color: #666;
      width: 15px;
      text-align: right;
    }

    .ac-type {

    }
  }
}

.ac-entry {
  position: relative;

  .ac-type {
    position: absolute;
    right: 0px;
    top: 0;
    font-size: 10px;
    text-transform: uppercase;
    color: #aaa;
    line-height: 12px;
  }
}

table.ac-results {
  width: 100%;
  font-size: 15px;

  td {
    padding-bottom: 20px;
    vertical-align: top;
  }

  .ac-result {
    .name {
      vertical-align: top;
      margin-right: 10px;
      font-weight: bold;
      white-space: nowrap;
    }

    .docstring {
      vertical-align: top;
      max-width: 700px;

      a {
        display: block;
        color: #444;
      }
    }
  }

  .ac-metadata {
    font-weight: normal;
    color: #999;
    font-size: 12px;
    //text-transform: uppercase;
    white-space: nowrap;
  }
}

.intro-page {
  ul h4 i {
    margin-right: 12px;
    margin-left: -30px;
  }

  ul h4 i.fa-map-marker {
    padding: 0 3px;
  }

  section {
    margin-bottom: 4em;
  }

  li {
    margin-left: 32px;
  }

  .used-by {
    ul {
      text-align: center;
    }

    li {
      display: inline-block;
      margin-right: 30px;
      margin-bottom: 20px;
    }

    img {
      max-width: 200px;
      max-height: 50px;

      @media (max-width: 1199px) {
        max-height: 35px;
      }

      @media (max-width: 991px) {
        max-height: 50px;
      }

    }
  }
}

.var-page,
.example-page {
  h1 {
    margin: 0;
    line-height: 1em;
    margin-bottom: 5px;
    font-size: 30px;
    margin-bottom: 10px;
  }

  h2 {
    margin-top: 0;
    font-size: 16px;
    font-weight: normal;
  }

  h3 {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #777;
  }

  pre {
    border: none;
  }

  section {
    margin-bottom: 2em;
  }

  section.search {
    margin-bottom: 1em;
  }

  .arglists {
    margin-left: 0;
    padding-left: 0;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 14px;

    li {
      margin: 0;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 0 5px;
      background-color: #f8f8f8;
    }
  }

  h1.var-name {
    margin-bottom: 5px;
  }

  .var-meta {
    margin-bottom: 5px;

    h2 {
      margin-bottom: 5px;
    }

    font-size: 13px;
    line-height: 1.3em;
    color: #888;
    text-align: right;

    @media(max-width: 767px) {
      text-align: left;
    }

    ul, li, .added {
      margin-bottom: 3px;
    }

    li {
      display: inline-block;
    }
  }

  .docstring {
    pre {
      //border-left: solid #ddd 3px;
      background-color: #f8f8f8;
      font-size: 13px;
      margin-bottom: 0;
      padding: 20px;
    }

    .copyright {
      text-align: right;
      font-size: 10px;
      color: #bbb;

      a {
        color: #bbb;
      }
    }
  }

  .example {
    margin-bottom: 30px;
  }

  .syntaxhighlighter {
    font-size: 15px;

    table {
      margin: 0;
    }
  }

  .created,
  .last-updated {
  }
}

.var-examples {
  h3 {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #777;
    margin-bottom: 20px;
  }
}

.var-example {
  margin-bottom: 30px;

  .example {
    margin-bottom: 30px;
  }

  .example-meta {
    font-size: 10px;
    margin-bottom: 0px;
    line-height: 1.3em;
    color: #aaa;
    margin-right: 5px;

    .avatar {
      width: 25px;
      height: 25px;
      opacity: 0.8;
      margin-right: 5px;

      &:hover {
        opacity: 1;
      }
    }

    .contributors,
    .created,
    .last-updated,
    .links {
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 5px;

      a {

      }
    }
  }

  .syntaxhighlighter {
    font-size: 15px;

    table {
      margin: 0;
    }
  }

  .created,
  .last-updated {
  }
}

.example-page {
  .current-example {
    border: solid rgba(255,243,109, 0.6) 20px;
    background-color: transparent;
    margin: 0 -20px;
    margin-bottom: 20px;
  }

  .example-meta {
    .created {
      display: block;
    }
  }
}

.example-code {
  margin-bottom: 15px;
  background-color: #fafafa;
  //border-left: solid #ddd 3px;
}

.ns-tree {
  font-size: 14px;

  h3 {
    font-size: 12px;
  }

  li {
    margin-bottom: 0px;
  }

  li > ul {
    margin-left: 10px;
  }

  .current {
    font-weight: bold;
  }
}

.syntaxhighlighter * {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.syntaxhighlighter {
  padding: 15px;
  overflow: auto;
  overflow-y: hidden;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;

  font-size: 15px;
  line-height: 1.3em;

  @media (max-width: 1199px) {
    font-size: 13.8px;
  }


  @media (max-width: 991px) {
    font-size: 13px;
  }

  @media (max-width: 767px) {
    font-size: 12px;
  }

  table {
    margin: 0 auto;
  }
}


// QUICKREF

.quickref-page {
  h1 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 21px;
    font-weight: 500;
  }

  h3, h4, h5 {
    display: inline-block;
    margin-right: 10px;
  }

  .toc {
    margin-bottom: 20px;

    h2 {
      font-size: 16px;
      margin: 0;
      margin-bottom: 5px;
      margin-top: 3px;
    }

    ul {
      margin-bottom: 5px;
    }
  }

  .toc.sticky {
    position: fixed;
    top: 10px;

    @media (max-width: 991px) {
      top: auto;
      position: relative;
    }
  }

  .toc-sphere {
    h3 {
      font-size: 12px;
      margin-right: 0;
      margin-bottom: 0;
      margin-top: 0;
    }

    ul {
      padding: 0;
    }

    li {
      margin-left: 10px;
      font-size: 12px;
      margin-bottom: 0;
      line-height: 1.5em;
    }
  }

  .sphere-header {
    border-bottom: solid orange 3px;
    margin-bottom: 10px;
  }

  .category-header {
    border-bottom: solid #ccc 2px;
    margin-bottom: 10px;
  }

  .header-reference {
    color: #bbb;
    font-weight: normal;
    float: right;
    margin-right: 0;
  }

  .quickref-header {
    .header-reference {
      color: #999;
      font-size: 14px;
    }
  }

  .examples-count {
    color: #bbb;
  }

  dl {
    font-size: 13px;
  }

  .dl-row {
    padding-right: 3px;
    padding-left: 3px;
  }

  dl .dl-row:hover {
    background-color: rgba(0,0,0,0.04);
  }

  @media (max-width: 767px) {
    .dl-row {
      border-top: solid #ccc 1px;
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }

  dt, dd {
  }

  dt {
    font-weight: normal;
  }
}

.add-example {
  textarea {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    margin-bottom: 10px;
    padding: 10px;
    height: 200px;
  }

  .add-example-controls {
    margin-bottom: 10px;
  }
}

.not-finding {
  text-align: right;
  font-size: 12px;
  opacity: 0.8;
  margin-top: 5px;
}

.checker-bg {
  @checker-color: #f0f0f0;
  @checker-size: 40px;
  background-color: #fafafa;
  background-image: linear-gradient(45deg, @checker-color 25%, transparent 25%, transparent 75%, @checker-color 75%, @checker-color),
  linear-gradient(45deg, @checker-color 25%, transparent 25%, transparent 75%, @checker-color 75%, @checker-color);
  background-size: @checker-size @checker-size;
  background-position:0 0, @checker-size/2 @checker-size/2;

  padding: 20px;
}

.styleguide-page {
  h2 {
    font-size: 20px;
  }

  .example {
    margin-bottom: 10px;
  }
}

.example-body {
  white-space: pre;
  font-family: monospace;
  font-size: 14px;
  background-color: #fafafa;
  margin-bottom: 10px;

  pre.raw-example {
    background-color: #fafafa;
    margin-bottom: 0px;
    padding: 15px;
    font-size: 14px;
  }
}

.syntaxhighlighter .container:before {
  content: ""
}

.library-nav {
  h3 {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #777;
  }
}

.recent-pages {
  h3 {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #777;
  }

  font-size: 14px;
  margin-bottom: 30px;

  li {
    margin-bottom: 0px;
  }
}

.ns-page {
  h1 { margin-bottom: 20px; }
  pre.doc { margin-bottom: 20px; }
}

.ns-table {
  .name {
    text-align: right;
  }

  .name > span {
    padding-right: 20px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
    line-height: 24px;
    vertical-align: middle;
  }

  .doc {
    width: 450px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
    font-size: 14px;
  }

  .heading {
    margin-top: 20px;
    margin-bottom: 5px;
    border-bottom: solid #ccc 2px;
  }
}
