<div class="container_16">
	<div class="grid_16">
		<h2>Management overview for <%= @lib.name %></h2>
	</div>
	<div class="grid_8">
		<%= render :partial => '/missing_examples', :locals => {:missing => @missing} %>
	</div>
	<div class="grid_8">
		<h3>Recent Updates for <%= @lib.name %></h3>
		<%= render :partial => '/recently_updated', :locals => {:recently_updated => @recently_updated} %>
	</div>
</div>