html,
body {
  -webkit-font-smothing: antialiased;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #444;
}
body {
  font-size: 16px;
  line-height: 1.5em;
  transition: all 0.2s ease-in;
}
body.search-active {
  background-color: rgba(0, 0, 0, 0.05);
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 20px;
}
h1:first-of-type {
  margin-top: 0;
}
h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin-bottom: 20px;
}
h3 {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 20px;
    line-height: 30px;
  }
}
h5 {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #777;
  margin-bottom: 15px;
}
p {
  font-size: 17px;
  margin-bottom: 1.4em;
  line-height: 1.6em;
}
li {
  margin-bottom: 0.5em;
  list-style-type: none;
}
pre {
  border-radius: 0px;
  border: none;
}
ul {
  padding: 0;
}
section {
  margin-bottom: 40px;
}
html,
body {
  height: 100%;
}
code {
  font-size: 14px;
}
a > code {
  color: #428bca;
}
.badge {
  background-color: rgba(0, 0, 0, 0.05);
  background-color: transparent;
  color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 1px 5px;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
  line-height: 22px;
}
.sticky-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px;
}
footer,
.sticky-push {
  height: 200px;
}
footer {
  text-align: center;
  font-size: 12px;
  padding-top: 130px;
}
footer .divider {
  font-size: 16px;
}
footer .ctas {
  line-height: 30px;
}
footer .ctas iframe {
  margin-bottom: -6px;
  margin-left: 10px;
}
footer .left {
  text-align: right;
}
footer .right {
  text-align: left;
}
@media (max-width: 767px) {
  footer .left,
  footer .right {
    text-align: center;
  }
}
.avatar {
  display: inline-block;
  border-radius: 3px;
  width: 48px;
  height: 48px;
}
body.user-page .avatar {
  width: 200px;
  height: 200px;
}
/* forms */
.form-group .loading {
  margin-top: 9px;
  margin-right: 10px;
}
.form-group .error-message {
  margin-top: 5px;
  margin-right: 10px;
  padding: 10px;
}
.form-group .error-message i {
  margin-right: 8px;
}
header.navbar {
  border-radius: 0;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  header.navbar {
    margin-bottom: 10px;
  }
}
header.navbar i {
  margin-right: 5px;
}
@media (max-width: 767px) {
  header.navbar .navbar-brand {
    float: none;
    display: inline-block;
    padding-left: 0;
  }
}
header.navbar .btn.mobile-menu {
  border: none;
  margin-top: 5px;
  font-size: 18px;
  display: none;
}
header.navbar .btn.mobile-menu i {
  margin: 0;
}
header.navbar .user-area {
  font-size: 14px;
  color: #999;
}
header.navbar .navbar-nav {
  padding-right: 0;
  margin: 0;
}
header.navbar .navbar-nav li {
  margin-bottom: 0;
  font-size: 14px;
}
header.navbar .navbar-nav li:last-child a {
  margin-right: -15px;
}
header.navbar .quick-search-widget form {
  margin-right: 10px;
}
.mobile-nav-bar {
  display: none;
}
.navbar-nav i {
  margin-right: 5px;
}
.navbar-nav .avatar {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}
.mobile-nav-menu {
  display: none;
}
.desktop-side-nav .badge {
  float: right;
}
.mobile-nav-menu .badge {
  font-size: auto;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  float: right;
  line-height: 22px;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  header.navbar .btn.mobile-menu {
    display: block;
    margin-right: -11px;
  }
  header.navbar .quick-search-widget {
    display: none;
  }
  header.navbar .navbar-nav {
    display: none;
  }
  .mobile-push-wrapper {
    right: 0;
    position: relative;
    transition: all 0.2s ease;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    padding-top: 60px;
  }
  .desktop-nav-bar {
    display: none;
  }
  .desktop-side-nav {
    display: none;
  }
  .mobile-nav-bar {
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: block;
    transition: all 0.2s ease;
    position: fixed;
  }
  .mobile-nav-bar header {
    margin-bottom: 0;
  }
  .mobile-nav-menu {
    display: block;
    position: fixed;
    width: 200px;
    z-index: 10000;
    background-color: #47a3da;
    color: white;
    font-weight: 300;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 0.2s ease;
    transform: translate3d(200px, 0, 0);
    -webkit-transform: translate3d(200px, 0, 0);
    margin: 0;
    overflow-y: scroll;
  }
  .mobile-nav-menu h4 {
    padding: 5px 10px;
    border-bottom: solid rgba(255, 255, 255, 0.3) 1px;
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
  }
  .mobile-nav-menu h4 i {
    margin-right: 5px;
  }
  .mobile-nav-menu li {
    margin: 0;
  }
  .mobile-nav-menu li a {
    color: white;
  }
  .mobile-nav-menu li a:hover {
    background-color: #258ecd;
  }
  .mobile-nav-menu .navbar-nav {
    margin: 0;
  }
  .mobile-push-wrapper.mobile-push {
    transition: all 0.2s ease;
    transform: translate3d(-200px, 0, 0);
    -webkit-transform: translate3d(-200px, 0, 0);
    right: 0;
  }
  .mobile-nav-menu.mobile-push {
    transition: all 0.2s ease;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  .mobile-nav-menu.mobile-push header.navbar {
    right: 200px;
    transition: all 0.2s ease;
  }
  .mobile-nav-bar.mobile-push {
    transition: all 0.2s ease;
    transform: translate3d(-200px, 0, 0);
    -webkit-transform: translate3d(-200px, 0, 0);
  }
  .page-toc {
    display: none;
  }
  body.search-active {
    background-color: transparent;
  }
}
.xkcd {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.intro {
  margin-bottom: 30px;
}
.see-also {
  margin-bottom: 20px;
}
.see-also a {
  color: #999;
}
.see-also a .name {
  color: #428bca;
}
.see-also a .name:hover {
  color: #2a6496;
}
.see-also p {
  color: #555;
  margin-bottom: 0px;
}
.see-also .meta {
  font-size: 10px;
  color: #ccc;
  text-transform: uppercase;
}
.see-also .meta a {
  color: #ccc;
}
.see-also .delete-confirmation a {
  color: #428bca;
}
.null-state {
  background-color: #fafafa;
  text-align: center;
  padding: 20px;
  color: #888;
}
.null-state code {
  color: #888;
}
.null-state a {
  color: rgba(66, 139, 202, 0.7);
}
input.loading {
  background-image: url("/img/loading.gif");
  background-repeat: no-repeat;
  background-position: right 8px center;
}
form.search input[name='query'] {
  border-radius: 0;
  min-width: 200px;
  height: 100%;
  font-size: 14px;
  padding: 6px 12px;
}
form.search input.placeholder {
  visibility: hidden;
}
.syntaxify {
  padding: 0px;
  background-color: transparent;
  white-space: pre;
  overflow-x: scroll;
}
.ac-result-link:hover {
  text-decoration: none;
  width: 100%;
}
.ac-result td {
  padding: 10px;
}
.ac-result .docstring {
  color: #444;
}
ul.ac-results {
  margin-left: 0px;
  margin-bottom: 0px;
}
ul.ac-results li {
  margin-left: 0px;
  list-style-type: none;
  cursor: pointer;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 15px;
}
ul.ac-results li.highlighted {
  background-color: rgba(0, 0, 0, 0.02);
}
ul.ac-results li p {
  margin-bottom: 0;
}
ul.ac-results li i {
  margin-left: 0;
  color: #666;
  width: 15px;
  text-align: right;
}
.ac-entry {
  position: relative;
}
.ac-entry .ac-type {
  position: absolute;
  right: 0px;
  top: 0;
  font-size: 10px;
  text-transform: uppercase;
  color: #aaa;
  line-height: 12px;
}
.ac-entry p {
  margin-bottom: 10px;
}
.ac-entry .see-alsos {
  font-size: 14px;
  color: #aaa;
}
.ac-entry .see-alsos .see-also-label {
  margin-right: 10px;
}
.ac-entry .see-alsos ul {
  display: inline-block;
}
.ac-entry .see-alsos ul li {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  display: inline-block;
}
table.ac-results {
  width: 100%;
  font-size: 15px;
}
table.ac-results td {
  padding-bottom: 20px;
  vertical-align: top;
}
table.ac-results .ac-result .name {
  vertical-align: top;
  margin-right: 10px;
  font-weight: bold;
  white-space: nowrap;
}
table.ac-results .ac-result .docstring {
  vertical-align: top;
  max-width: 700px;
}
table.ac-results .ac-result .docstring a {
  display: block;
  color: #444;
}
table.ac-results .ac-metadata {
  font-weight: normal;
  color: #999;
  font-size: 12px;
  white-space: nowrap;
}
.intro-page section {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .intro-page section {
    margin-bottom: 20px;
  }
}
.intro-page form.search {
  margin: -30px -25px;
  padding: 30px 25px;
  background-color: white;
}
.intro-page form.search input[name='query'] {
  font-size: 20px;
  padding: 10px 15px;
}
@media (max-width: 767px) {
  .intro-page form.search input[name='query'] {
    font-size: 16px;
  }
}
.intro-page .code-example {
  font-size: 14px;
  padding: 20px;
  border: solid transparent 1px;
  background-color: #fafafa;
}
.intro-page .row {
  margin-bottom: 0px;
}
.intro-page .top-contribs .avatar {
  width: 3.63%;
  margin-right: 0.53%;
  margin-bottom: 0.53%;
  height: auto;
}
@media (max-width: 767px) {
  .intro-page .top-contribs .avatar {
    width: 7.80%;
    height: auto;
  }
}
.intro-page .migrate-account {
  text-align: right;
  font-size: 12px;
}
.intro-page .getting-started-resources {
  margin-bottom: 20px;
}
.intro-page .getting-started-resources li {
  list-style-type: disc;
  margin-left: 30px;
}
.intro-page .syntaxify {
  padding: 15px;
  overflow: auto;
  overflow-y: hidden;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 15px;
  line-height: 1.3em;
}
@media (max-width: 1199px) {
  .intro-page .syntaxify {
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  .intro-page .syntaxify {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .intro-page .syntaxify {
    font-size: 12px;
  }
}
.intro-page .syntaxify table {
  margin: 0 auto;
}
.intro-page ul h4 i {
  margin-right: 12px;
  margin-left: -30px;
}
.intro-page ul h4 i.fa-map-marker {
  padding: 0 3px;
}
.intro-page .used-by ul {
  text-align: center;
}
.intro-page .used-by li {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 20px;
}
.intro-page .used-by img {
  max-width: 200px;
  max-height: 50px;
}
@media (max-width: 1199px) {
  .intro-page .used-by img {
    max-height: 35px;
  }
}
@media (max-width: 991px) {
  .intro-page .used-by img {
    max-height: 50px;
  }
}
.var-header h1.var-name {
  margin-bottom: 5px;
}
.var-header .var-meta {
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 1.3em;
  color: #888;
  text-align: right;
}
.var-header .var-meta h2 {
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  .var-header .var-meta {
    text-align: left;
  }
}
.var-header .var-meta ul,
.var-header .var-meta li,
.var-header .var-meta .added {
  margin-bottom: 3px;
}
.var-header .var-meta li {
  display: inline-block;
}
.var-header .arglists {
  margin-left: 0;
  padding-left: 0;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 14px;
}
.var-header .arglists li {
  margin: 0;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 0 5px;
  background-color: #f8f8f8;
}
.var-page h1,
.example-page h1,
.var-page h2,
.example-page h2 {
  margin-top: 0;
}
.var-page pre,
.example-page pre {
  border: none;
}
.var-page section,
.example-page section {
  margin-bottom: 2em;
}
.var-page section.search,
.example-page section.search {
  margin-bottom: 1em;
}
.var-page .null-state,
.example-page .null-state {
  margin-bottom: 30px;
}
.var-page .docstring pre,
.example-page .docstring pre {
  background-color: #f8f8f8;
  font-size: 13px;
  margin-bottom: 0;
  padding: 20px;
}
.var-page .docstring .copyright,
.example-page .docstring .copyright {
  text-align: right;
  font-size: 10px;
  color: #bbb;
}
.var-page .docstring .copyright a,
.example-page .docstring .copyright a {
  color: #bbb;
}
.var-page .example,
.example-page .example {
  margin-bottom: 30px;
}
.example-meta,
.note-meta {
  font-size: 10px;
  margin-bottom: 0px;
  line-height: 1.3em;
  margin-right: 5px;
  color: #888;
}
.example-meta .avatar,
.note-meta .avatar {
  width: 25px;
  height: 25px;
  opacity: 0.8;
}
.example-meta .avatar:hover,
.note-meta .avatar:hover {
  opacity: 1;
}
.note {
  margin-bottom: 30px;
}
.note-meta {
  margin-bottom: 10px;
}
.note-meta .avatar {
  margin: 0 2px;
}
.var-example .syntaxify,
.tabbed-editor .example-editor textarea.form-control,
.tabbed-editor .example-editor .columns-guide,
.tabbed-editor pre.syntaxify {
  font-size: 15px;
}
@media (max-width: 1199px) {
  .var-example .syntaxify,
  .tabbed-editor .example-editor textarea.form-control,
  .tabbed-editor .example-editor .columns-guide,
  .tabbed-editor pre.syntaxify {
    font-size: 12.5px;
  }
}
@media (max-width: 991px) {
  .var-example .syntaxify,
  .tabbed-editor .example-editor textarea.form-control,
  .tabbed-editor .example-editor .columns-guide,
  .tabbed-editor pre.syntaxify {
    font-size: 11.5px;
  }
}
.var-example {
  margin-bottom: 30px;
}
.var-example .example {
  margin-bottom: 30px;
}
.var-example .syntaxify table {
  margin: 0;
}
.example-meta {
  color: #aaa;
}
.example-meta .avatar {
  margin-right: 5px;
}
.example-meta .contributors,
.example-meta .created,
.example-meta .last-updated,
.example-meta .links {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
.example-meta .loading,
.see-also .delete-controls .loading,
.note-meta .loading {
  width: 9px;
  margin-bottom: 2px;
}
.example-meta .error-deleting,
.see-also .delete-controls .error-deleting,
.note-meta .error-deleting {
  padding-left: 3px;
  padding-right: 3px;
}
.example-page .current-example {
  border: solid rgba(255, 243, 109, 0.3) 5px;
  padding: 10px;
  background-color: transparent;
  margin-bottom: 20px;
}
.example-page .example-meta .created {
  display: block;
}
.example-code {
  margin-bottom: 15px;
  background-color: #fafafa;
  border-top: solid #ddd 5px;
}
.ns-tree {
  font-size: 14px;
}
.ns-tree h3 {
  font-size: 12px;
}
.ns-tree li {
  margin-bottom: 0px;
}
.ns-tree li > ul {
  margin-left: 10px;
}
.ns-tree .current {
  font-weight: bold;
}
.syntaxify * {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
.toc {
  margin-bottom: 20px;
}
.toc h5 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 12px;
  margin-right: 0;
  margin-top: 0;
}
.toc h6 {
  margin-top: 0;
}
.toc ul {
  margin-bottom: 5px;
}
.toc .toc-sphere h5 {
  margin-bottom: 5px;
}
.toc .toc-sphere ul {
  padding: 0;
  margin-bottom: 15px;
}
.toc .toc-sphere li {
  margin-left: 10px;
  font-size: 12px;
  margin-bottom: 0;
  line-height: 1.5em;
}
.quickref-mobile-toc h5 {
  color: white;
  margin-bottom: 5px;
  margin-top: 0px;
}
.quickref-mobile-toc .categories {
  font-size: 12px;
  line-height: 16px;
}
.sticky {
  position: fixed;
  overflow-y: scroll;
  overflow-x: auto;
}
.sphere h2,
.sphere h3,
.sphere h4 {
  display: inline-block;
  margin: 0;
  margin-bottom: 10px;
}
.sphere h4 {
  font-size: 14px;
  font-weight: 500;
}
.sphere .sphere-header {
  border-bottom: solid orange 3px;
  margin-bottom: 10px;
}
.sphere .category-header {
  border-bottom: solid #ccc 2px;
  margin-bottom: 10px;
}
.sphere .category {
  margin-bottom: 40px;
}
.sphere .header-reference {
  color: #bbb;
  font-weight: normal;
  float: right;
  margin-right: 0;
}
.sphere .quickref-header .header-reference {
  color: #999;
  font-size: 14px;
}
.sphere .examples-count {
  color: #bbb;
}
.sphere dl {
  font-size: 13px;
}
.sphere .dl-row {
  padding-right: 3px;
  padding-left: 3px;
}
.sphere dl .dl-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
@media (max-width: 767px) {
  .sphere .dl-row {
    border-top: solid #ccc 1px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
.sphere dt {
  font-weight: normal;
}
.example-editor {
  background-color: white;
  margin-bottom: 10px;
}
.example-editor.disabled {
  background-color: #eee;
}
.example-editor form {
  margin-bottom: 20px;
}
.example-editor textarea {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  margin-bottom: 0;
  padding: 10px;
  font-size: 13px;
}
.example-editor .add-example-controls {
  margin-bottom: 10px;
}
.example-editor .add-example-content {
  padding: 30px;
  background-color: #f8f8f8;
}
p.example-instructions {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  color: #888;
}
.not-finding {
  text-align: right;
  font-size: 12px;
  line-height: 18px;
  opacity: 0.8;
  margin-top: 5px;
}
.checker-bg {
  background-color: #fafafa;
  background-image: linear-gradient(45deg, #f0f0f0 25%, transparent 25%, transparent 75%, #f0f0f0 75%, #f0f0f0), linear-gradient(45deg, #f0f0f0 25%, transparent 25%, transparent 75%, #f0f0f0 75%, #f0f0f0);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  padding: 20px;
}
.styleguide-page .nav-tabs {
  border: none;
  font-size: 12px;
}
.styleguide-page .nav-tabs a {
  border-radius: 0;
}
.styleguide-page .styleguide-section {
  margin-bottom: 50px;
}
.styleguide-page .styleguide-section > h2 {
  border-bottom: solid #ddd 1px;
  padding-bottom: 5px;
}
.styleguide-page .example {
  margin-bottom: 30px;
}
.styleguide-page .buttons-ex button {
  margin-right: 10px;
}
.styleguide-page .contextual-bgs > div {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
}
.styleguide-page .headers-ex h1,
.styleguide-page .headers-ex h2,
.styleguide-page .headers-ex h3,
.styleguide-page .headers-ex h4,
.styleguide-page .headers-ex h5,
.styleguide-page .headers-ex h6 {
  line-height: 50px;
  margin: 0;
}
.example-body {
  padding: 10px;
  white-space: pre;
  font-family: monospace;
  font-size: 14px;
  background-color: #fafafa;
  margin-bottom: 10px;
  overflow-x: scroll;
}
.example-body pre.raw-example {
  background-color: #fafafa;
  margin-bottom: 0px;
  padding: 15px;
  font-size: 14px;
}
@media (max-width: 767px) {
  .library-nav {
    display: none;
  }
}
.recent-pages {
  font-size: 14px;
  margin-bottom: 30px;
}
.recent-pages li {
  margin-bottom: 0px;
}
@media (max-width: 767px) {
  .recent-pages {
    margin-bottom: 10px;
  }
  .recent-pages h3 {
    display: inline-block;
    margin-right: 20px;
  }
  .recent-pages ul {
    display: inline-block;
  }
  .recent-pages li {
    display: inline-block;
    margin-right: 10px;
    background-color: #fafafa;
    padding: 0 5px;
  }
}
.var-page-nav {
  margin-bottom: 30px;
}
.ns-page h1 {
  margin-bottom: 20px;
}
.ns-page pre.doc {
  margin-bottom: 20px;
}
.ns-page section {
  margin-bottom: 50px;
}
.var-group {
  clear: both;
}
.var-group h4 {
  margin-top: 20px;
  margin-bottom: 5px;
  border-bottom: solid #ccc 2px;
}
.var-group .dl-row {
  clear: both;
  padding: 3px 0;
}
.var-group .dl-row:hover {
  background-color: #eee;
}
.var-group dl {
  font-size: 13px;
}
.var-group dt {
  min-width: 150px;
  text-align: right;
  margin-right: 10px;
  font-weight: normal;
}
.var-group dd {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 580px;
  white-space: nowrap;
}
@media (max-width: 1199px) {
  .var-group dd {
    width: 460px;
  }
}
@media (max-width: 991px) {
  .var-group dd {
    width: 400px;
  }
}
@media (max-width: 767px) {
  .var-group .dl-row {
    padding: 0;
  }
  .var-group dt {
    display: block;
    text-align: left;
    padding-top: 10px;
  }
  .var-group dd {
    display: block;
    border-bottom: solid #ddd 1px;
    width: 100%;
    padding-bottom: 10px;
  }
}
.var-group .no-doc {
  color: #aaa;
}
.ns-table {
  width: 100%;
}
.ns-table .name {
  text-align: right;
}
.ns-table .name > span {
  padding-right: 20px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  line-height: 24px;
  vertical-align: middle;
}
.ns-table .doc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  font-size: 14px;
}
.ns-table .heading {
  margin-top: 20px;
  margin-bottom: 5px;
  border-bottom: solid #ccc 2px;
}
.quickref-other {
  display: inline-block;
}
.quickref-other li {
  display: inline-block;
}
.error-page h1 {
  text-align: center;
  font-size: 20px;
  color: #333;
}
.error-page a.four-oh-four {
  max-width: 300px;
  max-height: 100%;
  display: block;
  margin: 20px auto;
}
.add-see-also .add-see-also-content {
  border: solid #eee 1px;
  padding: 20px;
}
.add-see-also form {
  margin-bottom: 10px;
}
.add-see-also input {
  border-radius: 0;
}
.add-see-also .error-message {
  padding: 5px;
}
.add-see-also .error-message i {
  margin-right: 5px;
}
.add-see-also .ac-results {
  color: #555;
}
.muted {
  color: #aaa;
}
.var-link .namespace {
  color: #888;
}
.var-link .name {
  color: #428bca;
}
.staging-banner {
  text-align: center;
  background-color: #c9302c;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 400;
  padding: 3px;
}
.toggle-controls,
.login-required-message {
  text-align: right;
  margin-bottom: 4px;
  font-size: 12px;
}
.toggle-link {
  color: rgba(66, 139, 202, 0.8);
}
.note-body {
  background-color: #fafafa;
  padding: 10px;
}
.note-body p {
  margin-bottom: 10px;
}
.add-example .add-example-content {
  padding: 10px;
  background-color: #fafafa;
}
.add-note .instructions {
  color: #555;
  font-size: 12px;
}
.add-note textarea {
  height: 200px;
}
.search-feedback-page .radio {
  margin-top: 0;
}
.search-feedback-page .radio label {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}
.search-feedback-page .loading {
  margin-top: 9px;
  margin-right: 10px;
}
.search-feedback-page .error-message {
  line-height: 28px;
  display: inline-block;
  color: #555;
}
.search-feedback-page .error-message i {
  margin-right: 5px;
}
.examples-styleguide-content .syntaxify {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.01);
}
.examples-styleguide-content ul {
  margin-bottom: 30px;
}
.examples-styleguide-content li {
  list-style-type: disc;
  margin-left: 25px;
}
.sidenav {
  font-size: 14px;
}
.sidenav h5 {
  font-size: 14px;
  margin-top: 0;
}
.sidenav li {
  margin-bottom: 0px;
}
.sidenav li > ul {
  margin-left: 10px;
}
.sidenav .current {
  font-weight: bold;
}
.live-preview {
  background-color: #fafafa;
  margin-bottom: 10px;
}
.live-preview .empty-live-preview {
  text-align: center;
  color: #aaa;
  font-size: 14px;
  padding: 10px;
}
.ac-results-widget {
  margin: 0 -20px;
  padding: 0 20px;
}
.search-active .ac-results-widget {
  background-color: white;
}
.search-active .ac-results-widget ul.ac-results {
  overflow: auto;
}
.search-active .ac-results-widget ul.ac-results > li:first-child {
  margin-top: 20px;
}
.search-active .ac-results-widget ul.ac-results > li:last-child {
  margin-bottom: 20px;
}
.core-library-page pre,
.core-library-page .syntaxify {
  background-color: rgba(0, 0, 0, 0.01);
  padding: 20px;
}
.core-library-page h3 {
  margin-top: 30px;
}
.markdown ol,
.markdown ul {
  padding-left: 0;
  margin-bottom: 20px;
}
.markdown ol li,
.markdown ul li {
  margin-left: 25px;
  padding: 0;
  margin-bottom: 0;
}
.markdown ul li {
  list-style-type: disc;
}
.markdown ol li {
  list-style-type: decimal;
}
.markdown .syntaxify,
.markdown pre {
  margin-bottom: 40px;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
  margin-bottom: 0.3em;
}
.sg-example {
  margin-bottom: 30px;
  border: solid #eee 1px;
  padding: 3px;
}
.sg-example .caption {
  text-align: center;
  background-color: #fafafa;
  padding: 5px;
  color: #999;
  font-size: 11px;
  letter-spacing: 1px;
}
.field-schemas td,
table.schema td {
  padding-right: 10px;
  vertical-align: top;
}
table.schema {
  border-top: solid #ccc 3px;
  width: 100%;
}
table.schema td {
  border: none;
  padding: 5px;
}
table.schema .aside {
  font-size: 12px;
}
.test-result {
  padding: 3px;
  color: white;
}
.test-result.pass {
  background-color: #5a5;
}
.test-result.fail {
  background-color: #a55;
}
.test-result.error {
  background-color: #555;
}
.test-result.pending {
  background-color: #999;
}
.add-example-page .syntaxify code,
.add-example-page textarea,
.add-example-page pre {
  font-size: 12px;
}
.tabbed-editor .example-editor {
  border-color: #eee;
  border: solid #eee 1px;
  border-top: none;
}
.tabbed-editor .example-editor .columns-guide {
  background-color: transparent;
  color: #ccc;
  margin: 0;
}
.tabbed-editor .null-state {
  background-color: white;
  border: none;
  border-top: none;
}
.tabbed-editor textarea {
  border: none;
  border-radius: 0;
  overflow: auto;
  outline: none;
  outline-width: 0;
  resize: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.tabbed-editor textarea:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.tabbed-editor .nav-tabs {
  background-color: #eee;
  border-bottom: none;
}
.tabbed-editor .nav-tabs li {
  margin-bottom: 0;
  border-bottom: none;
}
.tabbed-editor .nav-tabs > li.active {
  border-bottom: none;
}
.tabbed-editor .nav-tabs > li.active:hover {
  border-color: #eee;
}
.tabbed-editor .nav-tabs > li.active > a:focus {
  border-color: #eee;
}
.tabbed-editor .nav-tabs li.active > a,
.tabbed-editor .nav-tabs li.active > a:hover,
.tabbed-editor .nav-tabs li.active > a:focus {
  border-color: #eee;
}
.tabbed-editor .nav-tabs li a {
  border-radius: 0;
  border-bottom: none;
  margin-bottom: 0;
}
.tabbed-editor .nav-tabs li a:hover {
  border-bottom: none;
  margin-bottom: 0;
}
.tabbed-editor .live-preview {
  min-height: 238px;
  background-color: white;
  border: solid #eee 1px;
  border-top: none;
  padding: 10px;
  background-color: #fafafa;
}
.tabbed-editor .live-preview li {
  margin-left: 20px;
  list-style-type: disc;
  margin-bottom: 0;
}
.sg-example-inspector .sg-inspector-state textarea {
  width: 100%;
  border: solid #eee 1px;
  padding: 5px;
}
.sg-example-inspector .sg-inspector-state textarea.error {
  background-color: #fcc;
}
.sg-example-inspector .sg-inspector-outlets .message {
  margin-bottom: 10px;
}
.sg-example-inspector .sg-inspector-outlets .message h6 {
  padding: 3px;
  margin: 0;
  color: #555;
}
.sg-example-inspector .sg-inspector-outlets .message pre {
  margin: 0;
}
