<div class="edit_example">
<% form_for :example, @example do |f| %>
Example Content <span class="instructions">(code only, do not wrap in &lt;pre&gt; tags. See <a href="/examples_style_guide">style guide</a> for more information.)</span>
<div class="examples_license">
	Examples submitted to clojuredocs will be licensed under the <a href="http://creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC 0</a>.
</div>
<%= image_tag "ajax-loader.gif", :class => "ajax_loader", :width => 20, :height => 20 %>
<%= f.text_area :body, :class=> 'textarea' %>
<div style="text-align: right">
	<a class="cancel" href="" style="float: left">Cancel</a>
	<!-- <input class="preview_example" type="button" value="Preview" /> -->
	<%= f.submit 'Update Example'%>
	<div class="clear"></div>
</div>
<input type="hidden" name="update_example" value="true" />
<input type="hidden" name="example_id" value="-1" />
<fieldset class="live_preview">
	<legend>Live Preview</legend>
	<div class="preview">
	</div>
</fieldset>
<% end %>
