<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('.provider').click(function() {
			var href = $(this).attr("href")
			$('#user_session_openid_identifier').val(href)
			$('#user_session_submit').click()
			return false;
		})
	})
	
</script>
<div class="container_16">
	<div class="grid_16">
<h2>Associate an OpenID provider with your account.</h2>

<h3>Choose your provider:</h3>
<div class="openid_providers">
	<a href="https://www.google.com/accounts/o8/id" class="provider" id="provider_google">Google</a>
	<a href="http://yahoo.com/" class="provider" id="provider_google">Yahoo</a>
	<a href="http://myopenid.com" class="provider" id="provider_myopenid">myOpenId</a>
	<a href="http://openid.aol.com" class="provider" id="provider_aol">AOL</a>
</div>
<br />
<h3>Or manually enter your OpenID url below</h3>
<% form_for :user_session, @user_session do |f| %>
  	<%= f.label :openid_identifier, "OpenID URL"%>
	<%= f.text_field :openid_identifier %>
	<%= error_message_on :user, :openid_identifier %>
	<%= f.submit 'Associate with my account' %>
<% end %>
	</div>
</div>